{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "pageTitle" . }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

<header class="bg-gray-800 text-white p-4 shadow">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center gap-4 mr-auto">
            <h1 class="text-xl font-bold">XashLoggerPsycho</h1>

            
        </div>
        <nav class="flex items-center">
            {{ if eq .Title "Admin" }}
            <div class="flex items-center gap-2 mr-4">
                <span class="text-sm text-gray-300">Auto update (5s)</span>
                <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" id="autoRefresh" class="sr-only peer" checked>
                <div class="w-12 h-6 bg-gray-400 rounded-full peer-checked:bg-green-500 transition"></div>
                <span class="absolute left-0 top-0 w-6 h-6 bg-white border rounded-full transform peer-checked:translate-x-6 transition"></span>
                </label>
            </div>
            {{ end }}
            <a href="/players"
               class="px-3 py-1 mx-1 rounded {{ if eq .Title "Players" }}bg-blue-700{{ else }}bg-blue-500{{ end }}">
                Players
            </a>
            <a href="/events"
               class="px-3 py-1 mx-1 rounded {{ if eq .Title "Events" }}bg-green-700{{ else }}bg-green-500{{ end }}">
                Events
            </a>
            <a href="/admin"
               class="px-3 py-1 mx-1 rounded {{ if eq .Title "Admin" }}bg-green-700{{ else }}bg-green-500{{ end }}">
                Admin
            </a>
        </nav>
    </div>
</header>

<main class="container-xl mx-auto mt-4 p-2">
    {{ template "pageBody" . }}
</main>

</body>
</html>
{{ end }}
